[Unit]
Description=Mehra Tibia Frontend
After=mariadb.service
StartLimitIntervalSec=1
[Service]
Type=simple
Restart=always
RestartSec=1

WorkingDirectory=/home/main-server/mehra-tibia-frontend
ExecStart=/bin/bash /home/main-server/mehra-tibia-frontend/start.sh
Environment=NODE_ENV=production
User=main-server

[Install]
WantedBy=multi-user.target
